@model IEnumerable<MvcShopping.Models.Cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    double total_cost = 0;
    int CustomerId = 1;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Divisima | eCommerce Template</title>
    <meta charset="UTF-8">
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/flaticon.css" />
    <link rel="stylesheet" href="css/slicknav.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/style.css" />


    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- Header section end -->
    <!-- Page info -->
    <div class="page-top-info">
        <div class="container">
            <h4>Your cart</h4>
            <div class="site-pagination">
                <a href="/Home">Home</a> /
                <a href="/Cart">Your cart</a>
            </div>
        </div>
    </div>
    <!-- Page info end -->
    <!-- checkout section  -->
    <section class="checkout-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-2 order-lg-1">
                    <form class="checkout-form" >
                        <div class="cf-title">Billing Address</div>
                        <div class="row">
                            <div class="col-md-7">
                                <p>*Billing Information</p>
                            </div>
                            <div class="col-md-5">
                                <div class="cf-radio-btns address-rb">
                                    <div class="cfr-item">
                                        <input type="radio" name="pm" id="one">
                                        <label for="one">Use my regular address</label>
                                    </div>
                                    <div class="cfr-item">
                                        <input type="radio" name="pm" id="two">
                                        <label for="two">Use a different address</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row address-inputs">
                            <div class="col-md-12">
                                <input type="text" placeholder="Address">
                                <input type="text" placeholder="Address line 2">
                                <input type="text" placeholder="Country">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Zip code">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Phone no.">
                            </div>
                        </div>
                        <div class="cf-title">Delievery Info</div>
                        <div class="row shipping-btns">
                            <div class="col-6">
                                <h4>Standard</h4>
                            </div>
                            <div class="col-6">
                                <div class="cf-radio-btns">
                                    <div class="cfr-item">
                                        <input type="radio" name="shipping" id="ship-1">
                                        <label for="ship-1">Free</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <h4>Next day delievery  </h4>
                            </div>
                            <div class="col-6">
                                <div class="cf-radio-btns">
                                    <div class="cfr-item">
                                        <input type="radio" name="shipping" id="ship-2">
                                        <label for="ship-2">$3.45</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cf-title">Payment</div>
                        <ul class="payment-list">
                            <li>Paypal<a href="#"><img src="img/paypal.png" alt=""></a></li>
                            <li>Credit / Debit card<a href="#"><img src="img/mastercart.png" alt=""></a></li>
                            <li>Pay when you get the package</li>
                        </ul>
                        <button class="site-btn submit-order-btn" type="button" onclick="location.href = '@Url.Action("PlaceOrder","Checkout",new {CustomerId = 1 })'"
                           >Place Order</button>
                    </form>
                </div>
                <div class="col-lg-4 order-1 order-lg-2">
                    <div class="checkout-cart">
                        @if (Model.Any())
                        {
                            <h3>Your Cart </h3>
                            <ul class="product-list">
                                @foreach (var item in Model)
                                {
                                    total_cost += item.Product.ProductPrice;
                                    <li>
                                        <div class="pl-thumb"><img src=@item.Product.ImagePath alt=""></div>
                                        <h6>@item.Product.ProductName</h6>
                                        <p>@item.Product.ProductPrice</p>
                                    </li>
                                }


                            </ul>
                        }
                        else
                        {
                            <h3>Your Cart is Empty </h3>
                            <ul class="product-list">
                                @foreach (var item in Model)
                                {
                                    total_cost += item.Product.ProductPrice;
                                    <li>
                                        <div class="pl-thumb"><img src=@item.Product.ImagePath alt=""></div>
                                        <h6>@item.Product.ProductName</h6>
                                        <p>@item.Product.ProductPrice</p>
                                    </li>
                                }


                            </ul>
                        }

                        <ul class="price-list">
                            <li>Total<span>$@total_cost</span></li>
                            <li>Shipping<span>free</span></li>
                            <li class="total">Total<span>$@total_cost</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- checkout section end -->
    <!--====== Javascripts & Jquery ======-->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.zoom.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
